######################################
# CONFIGURAÇÕES SENSÍVEIS
######################################
**/application.properties
**/application-*.properties
**/application.yml
**/application-*.yml
**/*.env
**/.env.local

######################################
# BUILDS (Java / Maven / Gradle)
######################################
**/target/
**/build/
**/.gradle/
**/out/
**/bin/

######################################
# LOGS E TEMPORÁRIOS
######################################
**/*.log
**/logs/
**/tmp/
**/*.tmp

######################################
# IDEs
######################################
.vscode/
.idea/
*.iml
*.swp
*.swo

######################################
# SISTEMA OPERACIONAL
######################################
.DS_Store
Thumbs.db
desktop.ini

######################################
# DEPENDÊNCIAS LOCAIS
######################################
**/node_modules/

######################################
# DOCKER (se aplicável)
######################################
**/docker-compose.override.yml


######################################
