name: Simple Build

on:
  push:
    branches: [main]
    paths: ['Microservices/usuario-service/**']

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - run: cd Microservices/usuario-service && mvn clean compile -DskipTests